.mainHeader {
    border-bottom: 4px solid #231456;
    font-size: 2vmax;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    height: 10%;
    width: 100%;
}

.mainPhoto{
    height: auto;
    width: 100%;
}

.mainNavigation{
    width:100%;
    padding: 2%;
    margin: 4px 6px;
    text-align: center;
}

.mainNavigation .mainNavigationBut {
    background-color: #052da7; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.mainFooter {
    border-top: 4px solid #231456;
    font-size: 2vmax;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
width: 100%;
height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "footerleft footercenter footerright";
}

.footerleft {
    grid-area: footerleft;
}

.footercenter {
    grid-area: footercenter;
}

.footerright {
    grid-area: footerright;
}
