/* body {
    margin 2px;

} */

.mainHeader {
    border-bottom: 4px solid #231456;
    font-size: 2vmax;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    height: 10%;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: ". mainPhoto ."
                        ". title ."
                        ". subtitle .";
}

.calendar {
    padding: 20%;
}

.title {
    grid-area: title;
}

.subtitle {
    grid-area: subtitle;
}

.mainPhoto{
    height: auto;
    width: fit-content;
    align-items: center;
    grid-area: mainPhoto;
}

.mainNavigation{
    width:100%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
}

.img {
    height: auto;
    width: 250px;
    margin: 2%;
}

.mainNavigation .mainNavigationBut {
    background-color: #052da7; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.mainFooter {
    border-top: 4px solid #231456;
    font-size: 2vmax;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
width: 100%;
height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "footerleft footercenter footerright";
}

.footerleft {
    grid-area: footerleft;
}

.footercenter {
    grid-area: footercenter;
}

.footerright {
    grid-area: footerright;
}

.footerBut{
    text-decoration: none;
    background-color: inherit;
    border: none;
    font-size: 2vmax;
}
.mainContent {
    margin: 10px;
}



#mainContent{
    font-size: 1.5vmax;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    height: auto;
    text-align: center;

}

#photoOne {
float: left;
max-width: 50%;
max-height: auto;
}

#photoTwo {
    float: right;
    max-width: 50%;
    max-height: auto;
}

#photoThree {
    max-width: 50%;
    max-height: auto;
}

#paragraph {
    text-align: justify;
}

.small-calendar {
    display: none;
}

.big-calendar {
    display: flex;
}

/* Responsive iFrame */
.responsive-iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
 }
 .responsive-iframe-container iframe,   
 .vresponsive-iframe-container object,  
 .vresponsive-iframe-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
 }

.mainVideo{
    width: 80%;
    height: auto;
    
}





























 /* Below is to change properties based on viewport width of 450px */

@media screen and (max-width: 450px) {
    .mainPhoto{
        max-width: 425px;
        width: 100%;
        height: auto;


    }

    .mainHeader {
        border-bottom: 4px solid #231456;
        font-size: 2vmax;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
        height: 10%;
        width: 100%;
    
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: "mainPhoto mainPhoto mainPhoto"
                            "mainPhoto mainPhoto mainPhoto"
                            ". title ."
                            ". subtitle .";
    }
    
    
    
    .title {
        grid-area: title;
    }
    
    .subtitle {
        grid-area: subtitle;
    }

    
    .mainNavigation{
        width:100%;
        padding: 2%;
        margin: 4px 6px;
        text-align: center;
    }
    
    .img {
        height: auto;
        width: 250px;
    }
    
    .mainNavigation .mainNavigationBut {
        background-color: #052da7; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
    
    .mainFooter {
        border-top: 4px solid #231456;
        font-size: 2vmax;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
    width: 100%;
    height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: "footerleft footercenter footerright";
    }
    
    .footerleft {
        grid-area: footerleft;
    }
    
    .footercenter {
        grid-area: footercenter;
    }
    
    .footerright {
        grid-area: footerright;
    }
    
    .footerBut{
        text-decoration: none;
        background-color: inherit;
        border: none;
        font-size: 2vmax;
    }
    .mainContent {
        margin: .2vmax;
    }
    
    
    
    #mainContent{
        font-size: 1.5vmax;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        width: 100%;
        height: auto;
        text-align: center;
    
    }
    
    #photoOne {
        float: left;
        max-width: 50%;
        max-height: auto;
        }
        
        #photoTwo {
            float: right;
            max-width: 50%;
            max-height: auto;
        }
        
        #photoThree {
            max-width: 50%;
            max-height: auto;
        }
    
    #paragraph {
        text-align: justify;
    }

    .small-calendar {
        display:block;
    }

    .big-calendar {
        display: none;
    }
}